@model IEnumerable<MasaSiparis>

<div class="content-body">
    <div class="container-fluid">
        <h1 class="text-center mb-4">Masa Sipariş Listesi</h1>
        <div class="col-12">
            <div class="row">
                @foreach (var masaSiparis in Model)
                {
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-header bg-primary">
                                <p class="card-text text-white mx-auto"><strong>@masaSiparis.Masa?.Kod</strong></p>
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Sipariş Detayları:</strong></p>
                                <ul>
                                    @foreach (var siparisMenu in masaSiparis.Siparis.SiparisMenuler)
                                    {
                                        <li>Sipariş Adı: @siparisMenu.Menu.Ad - Adet: @siparisMenu.Miktar</li>
                                    }
                                    @foreach (var siparisUrun in masaSiparis.Siparis.SiparisUrunler)
                                    {
                                        <li>Sipariş Adı: @siparisUrun.Urun.Ad - Adet: @siparisUrun.Miktar</li>
                                    }
                                </ul>
                                <p class="card-text"><strong>Toplam Tutar: </strong> @masaSiparis.Tutar₺</p>
                                <button type="button" class="btn btn-danger btn-sm">
                                    İptal Et <span class="btn-icon-end"><i class="fas fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-onayla" data-masa-siparis-id="@masaSiparis.Id">
                                    Onayla <span class="btn-icon-end">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-onayla').click(function () {
                var masaSiparisId = $(this).data('masa-siparis-id'); // Masa sipariş ID'sini al
                var masaKodu = $(this).closest('.card').find('.card-header').text().trim(); // Masa kodunu al
                var siparisDetaylari = $(this).closest('.card').find('.card-text').not('.card-text:first').text().trim(); // Sipariş detaylarını al
                var toplamTutar = $(this).closest('.card').find('.card-text').last().text().trim(); // Toplam tutarı al

                var data = {
                    MasaSiparisId: masaSiparisId,
                    MasaKodu: masaKodu,
                    SiparisDetaylari: siparisDetaylari,
                    ToplamTutar: toplamTutar
                };

                $.ajax({
                    type: "POST", // Gönderim metodu (POST, GET, PUT, DELETE vb.)
                    url: '@Url.Action("Onayla", "MasaSiparis", new { area = "Mutfak" })', // Veriyi göndereceğiniz URL
                    data: data, // Gönderilecek veri
                    success: function (response) {
                        // Başarılı bir şekilde tamamlandığında yapılacak işlemler
                        console.log("İşlem başarıyla tamamlandı.");
                    },
                    error: function (xhr, status, error) {
                        // Hata durumunda yapılacak işlemler
                        console.error("Hata oluştu: " + error);
                    }
                });
            });
        });
    </script>
}

