@model IEnumerable<Masa>

<head>
    <link href="~/admin/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

</head>
<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">MASA LİSTESİ</h4>
                    <a asp-controller="Masa" asp-action="MasaEkle" asp-route-id="0" class="btn btn-primary btn-rounded me-3 mb-2"><i class="fa-sharp fa-solid fa-plus fa-beat"></i> Masa Ekle</a>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Qr Kod</th>
                                    <th class="text-center">Kod</th>
                                    <th class="text-center">Kategori</th>
                                    <th class="text-center">Kapasite</th>
                                    <th class="text-center">Masa Özellikleri</th>
                                    <th class="text-center">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var masa in Model)
                                {
                                    <tr>
                                        <td class="text-center">@masa.Id</td>
                                        <td>
                                            <div id="qrcode_@masa.Id"></div>
                                        </td>
                                        <td class="text-center">@masa.Kod</td>
                                        <td class="text-center">@masa.Kategori?.Ad</td>
                                        <td class="text-center">@masa.Kapasite</td>
                                        <td class="text-center">
                                            @string.Join(", ", masa.MasaOzellikler.Select(item => item.Ozellik.Ad))
                                        </td>

                                        <td class="text-center">
                                            <div class="d-end">
                                                <a asp-action="MasaEkle" asp-route-id="@masa.Id" class="btn btn-success shadow btn-s sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                <button type="button" class="btn btn-primary shadow btn-s sharp me-1" data-bs-toggle="modal" data-bs-target="#masa_@masa.Id"><i class="fa-solid fa-plus-large"></i></button>
                                                <a onclick="confirmDelete(@masa.Id)" class="btn btn-danger shadow btn-s sharp"><i class="fa fa-trash"></i></a>

                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="masa_@masa.Id">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <form asp-action="MasaOzellikAta" asp-controller="Masa" method="post">
                                                <input name="masaid" value="@masa.Id" type="hidden" />
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Özellik Ata</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mb-3 mt-2">
                                                            <label class="text-label form-label" style="color:black;">Özellik Adı</label>
                                                            <select name="ozellikid" class="multi-select-placeholder js-states" multiple="multiple" asp-items="ViewBag.Ozellikler" required>
                                                                <option value="">Özellik Seçiniz</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    function generateQRCode(elementId, text) {
        var qrcode = new QRCode(elementId, {
            text: text,
            width: 80,
            height: 80,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });

        // QR kodunu indirmek için fonksiyon
        function downloadQRCode() {
            var canvas = document.getElementById(elementId).getElementsByTagName('canvas')[0];

            // Canvas'ı bir Image elementine dönüştür
            var img = new Image();
            img.src = canvas.toDataURL();

            // İndirme işlemi için yeni bir Canvas oluştur
            var newCanvas = document.createElement('canvas');
            var newContext = newCanvas.getContext('2d');
            newCanvas.width = 220; // Yeni genişlik
            newCanvas.height = 220; // Yeni yükseklik
            newContext.drawImage(img, 0, 0, newCanvas.width, newCanvas.height);

            // Tarayıcıya göre indirme işlemi
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(newCanvas.msToBlob(), 'QRCode.png');
            } else {
                var link = document.createElement('a');
                link.href = newCanvas.toDataURL();
                link.download = 'QRCode.png';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }

        // QR koduna tıklanınca indirme işlemini başlat
        document.getElementById(elementId).addEventListener('click', downloadQRCode);
    }

    // Sayfa yüklendiğinde QR kodlarını oluştur
    window.onload = function () {
    @foreach (var masa in Model)
    {
        <text>
                generateQRCode("qrcode_@masa.Id", "@masa.Kod");
        </text>
    }
    };

</script>

    <script>
        // SweetAlert ile bildirim gösterme
        document.addEventListener('DOMContentLoaded', function () {
            var successMessage = '@TempData["success"]';
            var errorMessage = '@TempData["error"]';

            if (successMessage) {
                Swal.fire({
                    title: "İşlem Başarılı!",
                    html: successMessage,
                    icon: "success"
                });
            }
        });
    </script>

    <script>
        function confirmDelete(id) {
            console.log("Çöp kutusuna tıklandı. ID: " + id); // Bu satırı ekleyin ve tarayıcı konsolunda çıktıyı kontrol edin
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlemi geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Admin/Masa/MasaSil/' + id;
                }
            });
        }        
    </script>
    <script>
        // TempData'dan hata mesajını al
        var errorMessage = '@TempData["error"]';
        // Eğer hata mesajı varsa
        if (errorMessage) {
            // SweetAlert ile hata mesajını göster
            swal("Hata!", errorMessage, "error");
        }
    </script>

    <script src="~/admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/admin/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/admin/js/plugins-init/select2-init.js"></script>

}

