@model IEnumerable<Personel>

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">PERSONELLER</h4>                  
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Ad-Soyad</th>
                                    <th class="text-center">Maaş</th>
                                    <th class="text-center">Başlama Tarihi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var person in Model)
                                {
                                    <tr>
                                        <td class="text-center">@person.Id</td>
                                        <td class="text-center">                                            
                                            <a asp-action="Index" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="~/img/@person.PersonelFotograf" alt="User Image" height="50" width="50"></a>@person.Ad @person.Soyad</td>
                                        <td class="text-center">@person.Maas</td>
                                        <td class="text-center">@person.BaslamaTarihi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

