@model IEnumerable<Rol>

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ROL LİSTESİ</h4>
                    <a asp-controller="Personel" asp-action="RolEkle" asp-route-id="0" class="btn btn-primary btn-rounded me-3 mb-2"><i class="fa-sharp fa-solid fa-plus fa-beat"></i> Rol Ekle</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Rol Ad</th>
                                    <th class="text-center">Eklenme Tarihi</th>
                                    <th class="text-center">Personel Sayısı</th>
                                    <th class="text-end">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rols in Model)
                                {
                                    <tr>
                                        <td class="text-center">@rols.Id</td>
                                        <td class="text-center">@rols.Ad</td>
                                        <td class="text-center">@rols.EklenmeTarihi</td>
                                        <td class="text-center">@rols.Personellers.Count()</td>
                                        <td class="text-end">                                           
                                            <div class="d-end">
                                                <a asp-action="RolEkle" asp-route-id="@rols.Id" class="btn btn-success shadow btn-s sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                <a class="btn btn-warning shadow btn-s sharp me-1" asp-controller="Personel" asp-action="RolDetay" asp-route-id="@rols.Id">
                                                    <i class="fa-sharp fa-solid fa-eye"></i>
                                                </a>
                                                <a asp-route-id="@rols.Id" asp-controller="Personel" asp-action="RolSil" asp-area="admin" class="btn btn-danger shadow btn-s sharp"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
