@model IEnumerable<MasaSiparis>

<div class="content-body">
    <div class="container-fluid">
        <h1 class="text-center mb-4">Mutfak Sipariş Listesi</h1>
        <div class="col-12">
            <div class="row">
                @foreach (var masaSiparis in Model)
                {
                    <div class="col-md-3">
                        <form>
                            <div class="card mb-3">
                                <div class="card-header bg-primary">
                                    <p class="card-text text-white mx-auto"><strong>@masaSiparis.Masa?.Kod</strong></p>
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text"><strong>Sipariş Detayları:</strong></p>
                                    <ul>
                                        @foreach (var siparisMenu in masaSiparis.Siparis.SiparisMenuler)
                                        {
                                            <li>Sipariş Adı: @siparisMenu.Menu.Ad - Adet: @siparisMenu.Miktar</li>
                                        }
                                        @foreach (var siparisUrun in masaSiparis.Siparis.SiparisUrunler)
                                        {
                                            <li>Sipariş Adı: @siparisUrun.Urun.Ad - Adet: @siparisUrun.Miktar</li>                                       
                                        }
                                    </ul>
                                    <p class="card-text"><strong>Toplam Tutar: </strong> @masaSiparis.Tutar₺</p>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
